In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from tqdm.auto import tqdm
import os
import yfinance as yf
import time

# import warnings
# warnings.filterwarnings('ignore')

In [2]:
from data_parsing import *

### Парсинг данных

In [79]:
# info_url = 'https://datahub.io/core/s-and-p-500-companies/r/0.html'
# criteria_cols = ['financial_health', 'payout_ratio', 'value', 'dsi_7', 'yield', 'Market Cap', 'year', 'EBITDA']

In [87]:
# tickers_info = pd.read_csv('../data/constituents_csv.csv')

In [88]:
# tickers_info.head()

In [3]:
tickers = ['AMD', 'INTC']
path_to_save = '../data'

In [4]:
for ticker in tickers:
    financial_df, prices, div_df = parse_data(ticker, 'Q')
    save_data(financial_df, prices, div_df, path_to_save, ticker)

Ticker: AMD
Reading financial data... Ok
Reading price data... Ok
Reading div data... Ok
Everything is saved!
Ticker: INTC
Reading financial data... Ok
Reading price data... Ok
Reading div data... Ok
Everything is saved!

In [5]:
financial_df.head(2)

Date,Revenue,Revenue Growth,Cost of Revenue,Gross Profit,R&D Expenses,SG&A Expenses,Operating Income,Non-operating Interest Expenses,Non-operating Income/Expense,EBT,...,Weighted Average Shares Diluted Growth,Assets Growth,Trade and Non-Trade Receivables Growth,Inventory Growth,Debt Growth,Book Value per Share Growth,Research and Development (R&D) Expenses Growth,"Selling, General and Administrative (SG&A) Expenses Growth",Depreciation & Amortization Growth,year
2011-03-31,1.284700e+10,0.2474,4.962000e+09,7.885000e+09,1.916000e+09,1.775000e+09,4.158000e+09,NaN,213000000.0,4.371000e+09,...,-0.0132,0.1753,0.6159,0.3727,-0.1029,0.1453,0.2251,0.1724,0.2638,2011
2011-06-30,1.303200e+10,0.2106,5.130000e+09,7.902000e+09,1.986000e+09,1.905000e+09,3.935000e+09,NaN,-4000000.0,3.931000e+09,...,-0.0473,0.1456,0.3823,0.2048,-0.0493,0.1196,0.1921,0.2027,0.3090,2011

In [6]:
financial_df.tail(2)

Date,Revenue,Revenue Growth,Cost of Revenue,Gross Profit,R&D Expenses,SG&A Expenses,Operating Income,Non-operating Interest Expenses,Non-operating Income/Expense,EBT,...,Weighted Average Shares Diluted Growth,Assets Growth,Trade and Non-Trade Receivables Growth,Inventory Growth,Debt Growth,Book Value per Share Growth,Research and Development (R&D) Expenses Growth,"Selling, General and Administrative (SG&A) Expenses Growth",Depreciation & Amortization Growth,year
2020-09-30,1.833300e+10,-0.0447,8.592000e+09,9.741000e+09,3.272000e+09,1.435000e+09,5.059000e+09,NaN,-1.800000e+07,5.041000e+09,...,-0.0501,0.0859,0.0378,0.0735,0.2648,NaN,0.0200,-0.0658,0.1657,2020
2020-12-31,1.997800e+10,-0.0114,8.630000e+09,1.134800e+10,3.655000e+09,1.757000e+09,5.884000e+09,NaN,1.604000e+09,7.488000e+09,...,-0.0539,0.1213,-0.1145,-0.0363,0.2552,NaN,0.0801,0.1036,0.0118,2020

In [7]:
prices.head(2)

                Open      High       Low     Close  Adj Close    Volume
Date
1980-03-17  0.325521  0.330729  0.325521  0.325521   0.200768  10924800
1980-03-18  0.325521  0.328125  0.322917  0.322917   0.199162  17068800

In [8]:
prices.tail(2)

                 Open       High        Low      Close  Adj Close    Volume
Date
2020-12-29  47.220001  50.669998  46.490002  49.389999  49.389999  84531400
2020-12-30  49.110001  49.189999  48.560001  48.750000  48.750000  37385400

In [9]:
div_df.head(2)

                  Dividends
Date
Nov 05, 2020  0.33 Dividend
Aug 06, 2020  0.33 Dividend